In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that the "Movies" database is in MongoDB
print(mongo.list_database_names())

['Movies', 'admin', 'autosaurus', 'classDB', 'config', 'local', 'petsitly_marketing', 'uk_food']

In [4]:
# assign the database to a variable name
db = mongo['Movies']

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['Basics', 'Title', 'Ratings']

In [6]:
# assign each collection to a variable
basics = db['Basics']
ratings = db['Ratings']
title = db['Title']

In [20]:
# Display the number of documents in the collections
# print(basics.count_documents({}))
# print(ratings.count_documents({}))
# print(title.count_documents({}))

8980304
1446499
40757180

In [7]:
# Display first document in basics collecdocument
basics.find_one()

{'_id': ObjectId('666e08be9415265b1f822569'),
 'tconst': 'tt0000001',
 'titleType': 'short',
 'primaryTitle': 'Carmencita',
 'originalTitle': 'Carmencita',
 'isAdult': 0,
 'startYear': 1894,
 'endYear': '\\N',
 'runtimeMinutes': 1,
 'genres': 'Documentary,Short'}

In [22]:
# documents = basics.find({'startYear':{'$type':'string',"$ne":None}})
#for doc in documents:
 #   try:
  #      start_year_int = int(doc['startYear'])
   #     basics.update_one(
    #        {"_id": doc['_id']},
     #       {'$set':{'startYear': start_year_int}}
      #  )
   # except ValueError:
    #    pass

In [8]:
# Display first document in ratings collection
ratings.find_one()

{'_id': ObjectId('666b8999a05f5ae20bbdf1d0'),
 'tconst': 'tt0000001',
 'averageRating': 5.7,
 'numVotes': 2059}

In [9]:
# Display first document in title collecction
title.find_one()

{'_id': ObjectId('666e0d029415265b1f0b2cc0'),
 'titleId': 'tt0000001',
 'ordering': 1,
 'title': 'Carmencita',
 'region': '\\N',
 'language': '\\N',
 'types': 'original',
 'attributes': '\\N',
 'isOriginalTitle': 1}

In [10]:
# Create a query that finds the movies in the US region
region_US = list(title.find({'region':'US'}))

# Print the number of results
len(region_US)

1278098

In [11]:
# Create a query that finds the titles after start year of 2000
start_year_after_2000 = list(basics.find({'startYear':{'$gt':2000}}))

# Print the number of results
len(start_year_after_2000)

5859254

In [12]:
# Create a data frame of the titles in the US Region 
title_region_US_df = pd.DataFrame(region_US)

# Print out the rows in the DataFrame
print ('Rows in DataFrame: ', len(title_region_US_df))
# Print off the first 5 in the DataFrame
title_region_US_df.head(5)

Rows in DataFrame:  1278098

,_id,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,666e0d029415265b1f0b2cc2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
1,666e0d029415265b1f0b2ccd,tt0000002,6,The Clown and His Dogs,US,\N,\N,literal English title,0
2,666e0d029415265b1f0b2ce6,tt0000005,3,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,666e0d029415265b1f0b2ce8,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
4,666e0d029415265b1f0b2cea,tt0000005,7,Blacksmithing,US,\N,\N,informal alternative title,0

In [25]:
# Change titleID column header to tconst
title_region_US_df.rename(columns={'titleId':'tconst'}, inplace = True)
title_region_US_df.head(5)

,_id,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
0,666e0d029415265b1f0b2cc2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
1,666e0d029415265b1f0b2ccd,tt0000002,6,The Clown and His Dogs,US,\N,\N,literal English title,0
2,666e0d029415265b1f0b2ce6,tt0000005,3,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,666e0d029415265b1f0b2ce8,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
4,666e0d029415265b1f0b2cea,tt0000005,7,Blacksmithing,US,\N,\N,informal alternative title,0

In [13]:
# Create a the ratings into a list
ratings_list = list(ratings.find({}))

# Create the ratings list into a DataFrame
ratings_df = pd.DataFrame(ratings_list)

# Print out the rows in the DataFrame
print ('Rows in DataFrame: ', len(ratings_df))

# Print off the first 5 in the DataFrame
ratings_df.head(5)

Rows in DataFrame:  1446499

                        _id     tconst  averageRating  numVotes
0  666b8999a05f5ae20bbdf1d0  tt0000001            5.7      2059
1  666b8999a05f5ae20bbdf1d1  tt0000002            5.6       277
2  666b8999a05f5ae20bbdf1d2  tt0000003            6.5      2023
3  666b8999a05f5ae20bbdf1d3  tt0000004            5.3       180
4  666b8999a05f5ae20bbdf1d4  tt0000005            6.2      2787

In [16]:
# Create the filtered list of movies starting after 2000 into a DataFrame
basics_df = pd.DataFrame(start_year_after_2000)

# Print out the rows in the DataFrame
print ('Rows in DataFrame: ', len(basics_df))

# Print off the first 5 in the DataFrame
basics_df.head(5)

Rows in DataFrame:  5859254

,_id,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,666e08bf9415265b1f8252db,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,\N,\N,"Action,Crime"
1,666e08bf9415265b1f825880,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,94,Documentary
2,666e08c09415265b1f82ad56,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
3,666e08c09415265b1f82e6b7,tt0050396,short,Final Curtain,Final Curtain,0,2012,\N,22,"Horror,Short"
4,666e08c09415265b1f82ed51,tt0052146,short,Rondo,Rondo,0,2007,\N,15,Short

In [17]:
# Merge ratings dataframe and basics dataframe
merged_df = pd.merge(ratings_df, basics_df, on='tconst', how='inner')

#print the number of rows
print ('Rows in DataFrame: ', len(merged_df))
merged_df.head(5)

Rows in DataFrame:  842210

,_id_x,tconst,averageRating,numVotes,_id_y,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,666b8999a05f5ae20bbe00d6,tt0013274,6.6,71,666e08bf9415265b1f825880,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,94,Documentary
1,666b8999a05f5ae20bbe3b2a,tt0035423,6.4,89294,666e08c09415265b1f82ad56,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
2,666b899aa05f5ae20bbe6bf8,tt0050396,4.5,236,666e08c09415265b1f82e6b7,short,Final Curtain,Final Curtain,0,2012,\N,22,"Horror,Short"
3,666b899aa05f5ae20bbe71df,tt0052146,6.3,26,666e08c09415265b1f82ed51,short,Rondo,Rondo,0,2007,\N,15,Short
4,666b899aa05f5ae20bbe8226,tt0056840,6.8,97,666e08c09415265b1f82ff2e,short,Aufsätze,Aufsätze,0,2021,\N,10,Short

In [24]:
# List of columns to remove
columns_to_remove = ['_id_x', '_id_y']

# Drop the specified columns
cleaned_df = merged_df.drop(columns=columns_to_remove)

cleaned_df.head(5)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0013274,6.6,71,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,94,Documentary
1,tt0035423,6.4,89294,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
2,tt0050396,4.5,236,short,Final Curtain,Final Curtain,0,2012,\N,22,"Horror,Short"
3,tt0052146,6.3,26,short,Rondo,Rondo,0,2007,\N,15,Short
4,tt0056840,6.8,97,short,Aufsätze,Aufsätze,0,2021,\N,10,Short

In [26]:
# Merge the titel dataframe, basics and ratings dataframe
final_df = pd.merge(merged_df, title_region_US_df, on='tconst', how='inner')
print ('Rows in DataFrame: ', len(final_df))
merged_df.head(5)

Rows in DataFrame:  306977

,_id_x,tconst,averageRating,numVotes,_id_y,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,666b8999a05f5ae20bbe00d6,tt0013274,6.6,71,666e08bf9415265b1f825880,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,94,Documentary
1,666b8999a05f5ae20bbe3b2a,tt0035423,6.4,89294,666e08c09415265b1f82ad56,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
2,666b899aa05f5ae20bbe6bf8,tt0050396,4.5,236,666e08c09415265b1f82e6b7,short,Final Curtain,Final Curtain,0,2012,\N,22,"Horror,Short"
3,666b899aa05f5ae20bbe71df,tt0052146,6.3,26,666e08c09415265b1f82ed51,short,Rondo,Rondo,0,2007,\N,15,Short
4,666b899aa05f5ae20bbe8226,tt0056840,6.8,97,666e08c09415265b1f82ff2e,short,Aufsätze,Aufsätze,0,2021,\N,10,Short

In [27]:
#remove the id columns
final_cleaned_df = final_df.drop(columns=columns_to_remove)
#print the final dataframe
final_cleaned_df.head(5)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,_id,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0035423,6.4,89294,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance",666e0d249415265b1f0e5af2,16,Kate & Leopold,US,\N,imdbDisplay,\N,0
1,tt0035423,6.4,89294,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance",666e0d249415265b1f0e5afc,25,Kate and Leopold,US,\N,\N,alternative spelling,0
2,tt0050396,4.5,236,short,Final Curtain,Final Curtain,0,2012,\N,22,"Horror,Short",666e0d4b9415265b1f10a9d5,2,Final Curtain,US,\N,imdbDisplay,\N,0
3,tt0057369,5.6,72,short,Number 14: Late Superimpositions,Number 14: Late Superimpositions,0,2023,\N,30,Short,666e0d549415265b1f11d961,2,Number 14: Late Superimpositions,US,\N,imdbDisplay,\N,0
4,tt0082328,5.9,1809,movie,Embodiment of Evil,Encarnação do Demônio,0,2008,\N,94,Horror,666e0d5d9415265b1f1419a6,13,Devil's Reincarnation,US,\N,\N,literal English title,0