In [14]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [15]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [16]:
# confirm that the "Movies" database is in MongoDB
print(mongo.list_database_names())

['Movies', 'admin', 'autosaurus', 'classDB', 'config', 'local', 'petsitly_marketing', 'uk_food']

In [17]:
# assign the database to a variable name
db = mongo['Movies']

In [18]:
# review the collections in our new database
print(db.list_collection_names())

['Basics', 'Title', 'Ratings']

In [19]:
# assign each collection to a variable
basics = db['Basics']
ratings = db['Ratings']
title = db['Title']

In [20]:
# Display the number of documents in the collections
print(basics.count_documents({}))
print(ratings.count_documents({}))
print(title.count_documents({}))

8980304
1446499
40757180

In [21]:
# Display first document in basics collecdocument
basics.find_one()

{'_id': ObjectId('666e08be9415265b1f822569'),
 'tconst': 'tt0000001',
 'titleType': 'short',
 'primaryTitle': 'Carmencita',
 'originalTitle': 'Carmencita',
 'isAdult': 0,
 'startYear': 1894,
 'endYear': '\\N',
 'runtimeMinutes': 1,
 'genres': 'Documentary,Short'}

In [22]:
# documents = basics.find({'startYear':{'$type':'string',"$ne":None}})
#for doc in documents:
 #   try:
  #      start_year_int = int(doc['startYear'])
   #     basics.update_one(
    #        {"_id": doc['_id']},
     #       {'$set':{'startYear': start_year_int}}
      #  )
   # except ValueError:
    #    pass

In [23]:
# Display first document in ratings collection
ratings.find_one()

{'_id': ObjectId('666b8999a05f5ae20bbdf1d0'),
 'tconst': 'tt0000001',
 'averageRating': 5.7,
 'numVotes': 2059}

In [24]:
# Display first document in title collecction
title.find_one()

{'_id': ObjectId('666e0d029415265b1f0b2cc0'),
 'titleId': 'tt0000001',
 'ordering': 1,
 'title': 'Carmencita',
 'region': '\\N',
 'language': '\\N',
 'types': 'original',
 'attributes': '\\N',
 'isOriginalTitle': 1}

In [25]:
# Create a query that finds the movies in the US region
region_US = list(title.find({'region':'US'}))

# Print the number of results
len(region_US)

1278098

In [26]:
start_year_after_1980 = list(basics.find({'startYear':{'$gt':1980}}))
len(start_year_after_1980)

In [ ]:
title_region_US_df = pd.DataFrame(region_US)

print ('Rows in DataFrame: ', len(title_region_US_df))
title_region_US_df.head(5)

Rows in DataFrame:  1278098

,_id,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,666e0d029415265b1f0b2cc2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
1,666e0d029415265b1f0b2ccd,tt0000002,6,The Clown and His Dogs,US,\N,\N,literal English title,0
2,666e0d029415265b1f0b2ce6,tt0000005,3,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,666e0d029415265b1f0b2ce8,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
4,666e0d029415265b1f0b2cea,tt0000005,7,Blacksmithing,US,\N,\N,informal alternative title,0

In [ ]:
ratings_list = list(ratings.find({}))
ratings_df = pd.DataFrame(ratings_list)
print ('Rows in DataFrame: ', len(ratings_df))
ratings_df.head(5)

Rows in DataFrame:  1446499

                        _id     tconst  averageRating  numVotes
0  666b8999a05f5ae20bbdf1d0  tt0000001            5.7      2059
1  666b8999a05f5ae20bbdf1d1  tt0000002            5.6       277
2  666b8999a05f5ae20bbdf1d2  tt0000003            6.5      2023
3  666b8999a05f5ae20bbdf1d3  tt0000004            5.3       180
4  666b8999a05f5ae20bbdf1d4  tt0000005            6.2      2787

In [13]:
basics_list = list(start_year_after_1980.find({}))
basics_df = pd.DataFrame(basics_list)
print ('Rows in DataFrame: ', len(basics_df))
basics_df.head(5)

AttributeError: 'list' object has no attribute 'find'